<div class="add__card"  [ngClass]="{'add__card-dark': darkMode}">
    <div class="header__container">
      <span class="card__title">Suggestions</span>
    </div>
    <div class="body__container">
            <div [ngSwitch]="true">
                <div *ngSwitchCase="condition === 'Rain' || condition === 'Drizzle'">
                        <p >Wear gumboot and carry an umbrella</p>
                </div>

                <div *ngSwitchCase="condition === 'Sunny' || condition === 'Clear'"> 
                    <p >wear a hat and sunglasses</p>
                </div>

                <div *ngSwitchCase="condition === 'Clouds'">
                   
                    <ul>
                         <img src="../../../assets/images/washclothes.jpg">
                        <li>wash your clothes today</li>
                        <img src="../../../assets/images/COFFEE-DATE.png">
                         <li>take  girlfriend out for coffee or ice cream</li>
                </ul>
                    
                </div>
                <div  *ngSwitchCase="condition === ''">  
                     <p  >wash his clothes today or take  girlfriend out for coffee or ice cream</p>
                </div>
                  
                   
                    
                 
                    
                        
                  </div>
      
     
    </div>
  </div>
  